* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  font-size: 15px;
  color: white;
  font-family: "Nunito", sans-serif;
  overflow: hidden;
  padding-top: 12px;
}

.modal {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 8px;
}

@media (min-width: 501px) and (max-width: 1199px) {
  .modal {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media (min-width: 1200px) {
  .modal {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.modal .modal-content {
  text-align: center;
  position: relative;
  top: 75%;
}

@media (min-width: 501px) and (max-width: 1199px) {
  .modal .modal-content {
    position: static;
  }
}

@media (min-width: 1200px) {
  .modal .modal-content {
    position: static;
  }
}

.modal .modal-content h1 {
  text-align: center;
  margin-bottom: 24px;
}

@media (min-width: 1200px) {
  .modal .modal-content h1 {
    font-size: 3rem;
  }
}

@media (min-width: 501px) and (max-width: 1199px) {
  .modal .modal-content h1 {
    font-size: 3rem;
  }
}

.modal .login input {
  padding: 12px;
  border-radius: 10px;
  background-color: lightgreen;
  color: green;
}

.modal .login input::-webkit-input-placeholder {
  color: green;
}

.modal .login input:-ms-input-placeholder {
  color: green;
}

.modal .login input::-ms-input-placeholder {
  color: green;
}

.modal .login input::placeholder {
  color: green;
}

.closed {
  display: none;
}

main {
  height: 100%;
  width: 100%;
  max-height: 500px;
  max-width: 500px;
  border-radius: 13px;
  background-color: aqua;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr) [3];
  grid-template-rows: repeat(3, 1fr);
  -ms-grid-columns: (1fr) [3];
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "1", "2", "3", "4", "5", "6", "7", "8", "9";
}

@media (min-width: 501px) and (max-width: 1199px) {
  main {
    margin-top: 10%;
  }
}

@media (min-width: 1200px) {
  main {
    max-height: 650px;
    max-width: 650px;
    margin-top: 24px;
  }
}

main div {
  font-size: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 5px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media (min-width: 501px) and (max-width: 1199px) {
  main div {
    font-size: 5rem;
  }
}

@media (min-width: 1200px) {
  main div {
    font-size: 8rem;
  }
}

main div:active {
  font-size: 1rem;
}

main:nth-child(n) {
  grid-area: "1";
  border: 3px solid black;
}

main:nth-child(n) {
  grid-area: "2";
  border: 3px solid black;
}

main:nth-child(n) {
  grid-area: "3";
  border: 3px solid black;
}

main:nth-child(n) {
  grid-area: "4";
  border: 3px solid black;
}

main:nth-child(n) {
  grid-area: "5";
  border: 3px solid black;
}

main:nth-child(n) {
  grid-area: "6";
  border: 3px solid black;
}

main:nth-child(n) {
  grid-area: "7";
  border: 3px solid black;
}

main:nth-child(n) {
  grid-area: "8";
  border: 3px solid black;
}

main:nth-child(n) {
  grid-area: "9";
  border: 3px solid black;
}

button {
  font-weight: bold;
  padding: 12px 24px;
  border-radius: 15px;
  background-color: lightgreen;
  color: green;
  border: 2px solid green;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin: 12px;
}

button:hover {
  background-color: green;
  color: white;
}

button:active {
  letter-spacing: 1px;
}

#player-info {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 24px;
  color: black;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

#player-info table {
  text-align: center;
}

#player-info table th,
#player-info table td {
  border-bottom: 1px solid #ddd;
}
/*# sourceMappingURL=main.css.map */
